<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ResellBook.Dao.StudentDao" >
    <select id="getStudent" resultType="com.ResellBook.Pojo.Student" parameterType="java.lang.String" >
    SELECT * FROM student where studentNum =#{num}
  </select>


    <insert id="registerStudent" parameterType="com.ResellBook.Pojo.Student">
        insert into student(
        studentNum,
        studentName,
        studentPasswd,
        college,grade,
        clazz,
        tel)
        values(
        #{studentNum},
        #{studentName},
        #{studentPasswd},
        #{college},
        #{grade},
        #{clazz},
        #{tel})
    </insert>
</mapper>
